doctype
html
  head
    title Add
  body
    h1 Add User Area
    form(id='form', method='post', action='/test-add')
      label(for='username') Username
      input(type='text', id='username', name='username')
      label(for='password') Password
      input(type='text', id='password', name='password')
      label(for='email') Email
      input(type='email', id='email', name='email')
      input(type='submit', value='Add User')